/* .styling {
    background-color: azure;
} */

.Answers {
    position: relative;
    min-height: 100vh;
}

.Answers::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("./Images/forest-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
    z-index: -1;
}

